[package]
name = "abt"
version = "0.1.0"
edition = "2024"

[dependencies]
crossterm = "0.29.0"

[profile.intended]
inherits = "release"
opt-level = 3
debug = 0
strip = "debuginfo"
debug-assertions = false
overflow-checks = false
lto = "fat"
panic = "abort"
incremental = false
codegen-units = 1

